@model WebShopping.Models.Product

@{
    ViewData["Title"] = "Create";
}

@section styles{
    <link href="~/lib/custome-cropper/cropper.min.css" rel="stylesheet" />
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EnglishName" class="control-label"></label>
                <input asp-for="EnglishName" class="form-control" />
                <span asp-validation-for="EnglishName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArabicName" class="control-label"></label>
                <input asp-for="ArabicName" class="form-control" />
                <span asp-validation-for="ArabicName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellingPrice" class="control-label"></label>
                <input asp-for="SellingPrice" class="form-control" />
                <span asp-validation-for="SellingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchasingPriceForPublic" class="control-label"></label>
                <input asp-for="PurchasingPriceForPublic" class="form-control" />
                <span asp-validation-for="PurchasingPriceForPublic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchasingPriceForSales" class="control-label"></label>
                <input asp-for="PurchasingPriceForSales" class="form-control" />
                <span asp-validation-for="PurchasingPriceForSales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                    <div style="width:400px; height:400px;">
                        <img id="image-src" style="width: 400px; width: 400px; ">
                    </div>

                    <input type="file" id="file" />
                    <input type="hidden" />
                    <input type="hidden" asp-for="ImageUrl" />
                    @*<div style="width:400px; height:400px;" style="display: flex; justify-content: center;">
                            <div class="span4 cropme" style="width:400px; height:400px;"></div>
                        </div>*@
             
            </div>
            <div class="form-group">
                <label asp-for="DescriptionArabic" class="control-label"></label>
                <input asp-for="DescriptionArabic" class="form-control" />
                <span asp-validation-for="DescriptionArabic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionEnglish" class="control-label"></label>
                <input asp-for="DescriptionEnglish" class="form-control" />
                <span asp-validation-for="DescriptionEnglish" class="text-danger"></span>
            </div>
       
            <div class="form-group">
                <label asp-for="SubCategoryID" class="control-label"></label>
                <select asp-for="SubCategoryID" class ="form-control" asp-items="ViewBag.SubCategoryID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>




    <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-default-title">Crop Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="img-container">
                                <img src="" class="img-fluid" id="image-modal-cropper">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="crop">Crop</button>
                </div>
            </div>

        </div>

    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/custome-cropper/cropper.min.js"></script>
    <script src="~/lib/custome-cropper/jquery-cropper.min.js"></script>
    <script src="~/lib/custome-cropper/custome-cropper.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>

    <script>
        $(document).ready(function () {
            customimageCropper({
                fileSelector: "#file",
                modelImageSelector: "#image-modal-cropper",
                sourceImageSelector: "#image-src",
                submitSelector: "#crop",
                aspectRatio: 1 / 1,
                minContainerWidth: 400,
                minContainerHeight: 400,
                maxCropBoxWidth: 400,
                maxCropBoxHeight: 400
            });
        });


        $("form").on("submit", () => {
            $("#ImageUrl").val($("#image-src").attr("src"));
            if ($("#ImageUrl").val() === null || $("#ImageUrl").val() === undefined || $("#ImageUrl").val().trim() === "") {
                swal("Please Add Photo", "", "error");
                return false;
            }
         
        });
    </script>
}
