@model IEnumerable<WebShopping.Models.Invoice>
@{
    ViewData["Title"] = "Invoices";
}

@section styles{


    <link href="~/lib/datatables/media/css/jquery.datatables.min.css" rel="stylesheet" />
}


 
    <table class="table" id="invoiceList">
        <thead>
            <tr>
                <th>
                    InvoiceNumber
                </th>
               <th>
                   Invoice Date
                </th>
                <th>
                    CurrencyCode
                </th>
                <th>
                    PhoneNumber
                </th>
                <th>
                    Total
                </th>
                <th>
                    IsApproved
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>



  @section Scripts{

    <script src="~/lib/datatables/media/js/jquery.datatables.min.js"></script>
   
    <script src="~/lib/alpha.datatable/alpha.datatable.js"></script>
  <script>
        tablePlugin("#invoiceList", "/Invoices/GetInvoices", 
        [
            { data: "invoiceNumber" },
                { data: "invoiceDate" },
                 { data: "currencyCode" },
                { data: "phoneNumber" },
                { data: "totalInvoice" },
                { data: "isApproved", render: function (data) { if (data) { return "<input type='checkbox' disabled checked/>" } else { return "<input type='checkbox'disabled />" } } },
                {data:"id" , render: function(data){

                        return `<a class='btn btn-success' href='/Invoices/details/${data}'> Details</a>`;
                }}
                  ]);
  </script>


  
  }

